{% extends 'main_app/base.html' %}
{% load static %}


{% block content %}
 <div class="conteiner">
    <div class="col-11 col-md-5 mx-auto mt-5">
        <div class="card shadow p-3">
            <img src="{{user.profile.image.url}}" style="height:200px;width: 250px; " alt="">
        </div>
        <div class="card-body">
            <p>{{ user.username }}</p>
            <p>{{ user.first_name }}</p>
            <p>{{ user.last_name }}</p>
            <p>{{ user.email }}</p>
            <p>{{ user.profile.phone }}</p>
            <p>{{ user.profile.date_of_birth }}</p>


        <a href="{% url 'profileupdate-page' %}">Update</a> 
        <a href="{% url 'password-change' %}">Password-change</a> 
            
            


        </div>
    </div>
 </div>
{% endblock content %}