<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="template" content="greeny">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template">
    <meta name="keywords" content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online"/>
    <title>Nagar Shop - Password Reset Link Sent</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/venobox/venobox.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slickslider/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/niceselect/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-auth.css' %}">
</head>
<body>
<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="user-form-logo">
                    <a href="{% url 'index' %}"><img src="{% static 'images/nagarshop_logo.png' %}" alt="Nagar Shop" style="height: 60px; width: auto;"></a>
                </div>
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>Password reset link sent</h2>
                        <p>Check your email for a password reset link. Please follow the instructions in the email to reset your password successfully.</p>
                    </div>
                    <div class="form-button">
                        <a href="{% url 'login_page' %}">Login</a>
                    </div>
                </div>
                <div class="user-form-footer">
                    <p>Nagar Shop | &COPY; Copyright by <a href="https://www.universesoftcare.com">Universe Soft Care</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/countdown/countdown.min.js' %}"></script>
<script src="{% static 'vendor/niceselect/nice-select.min.js' %}"></script>
<script src="{% static 'vendor/slickslider/slick.min.js' %}"></script>
<script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'js/nice-select.js' %}"></script>
<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/accordion.js' %}"></script>
<script src="{% static 'js/venobox.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>